a.ref:link,
a.ref:hover,
a.ref:active,
a.ref:visited,
a.src:link,
a.src:hover,
a.src:active,
a.src:visited,
b.comp,
b.comptd,
b.italic,
b.red,
li,
p
			{
			font-weight: normal;
			}

.shade,
#cban,
a:link,
a:hover,
a:active,
a:visited,
a.item:link,
a.item:hover,
a.item:active,
a.item:visited,
a.page:link,
a.page:hover,
a.page:active,
a.page:visited,
a.pageNN:link,
a.pageNN:hover,
a.pageNN:active,
a.pageNN:visited,
a.hpage:link,
a.hpage:hover,
a.hpage:active,
a.hpage:visited,
a.hpageL:link,
a.hpageL:hover,
a.hpageL:active,
a.hpageL:visited,
b.hpage,
a.sol:link,
a.sol:hover,
a.sol:active,
a.sol:visited,
a.bui,
b.und,
h1,
h2,
h3,
h4,
li.menu,
li.menuL,
span.cat,
span.head,
table.four,
td.four,
td.six,   
td.seven
			{
			font-weight: bold;
			}
