a:link,
a:hover,
a:active,
a:visited,
a.item:link,
a.item:hover,
a.item:active,
a.item:visited,
a.page:link,
a.page:hover,
a.page:active,
a.page:visited,
a.pageNN:link,
a.pageNN:hover,
a.pageNN:active,
a.pageNN:visited,
a.hpage:link,
a.hpage:hover,
a.hpage:active,
a.hpage:visited,
a.hpageL:link,
a.hpageL:hover,
a.hpageL:active,
a.hpageL:visited,
b.hpage,
h1,
h2,
h3,
h4,
li,
span.cat,
li.menu,
li.menuL,
p.squares,
.head
			{
			font-family: verdana, arial, helvetica, sans-serif, "ms sans serif";
			}

#copy,
b.link
			{
			font-family: arial, sans-serif;
			}

#cban,
a.ref:link,
a.ref:hover,
a.ref:active,
a.ref:visited,
a.sol:link,
a.sol:hover,
a.sol:active,
a.sol:visited,
a.src:link,
a.src:hover,
a.src:active,
a.src:visited,
i.fig,
p,
td.mrcodes,
td.type,
li
			{
			font-family: "times new roman", serif;
			}

blockquote,
li.blank,
a.cmp,
b.comp,
b.comptd
			{
			font-family: "andale mono", lucidatypewriter, monospace;
			}

